.overlay {
    background: rgba(0, 0, 0, 0.75);         
    top: 140px;                  
    right: 0;                
    bottom: 0;
    left: 0;
    z-index:9999;
    position: fixed;
    height: 100%;
    width: 100%;
    display:block;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hide{
  display: none;
}

.Timer{
    visibility: visible !important;
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  from { opacity:0;};
  to {opacity:100;}
}

@media (max-width: 2560px) {
  .overlay { top: 106px;}
}
//mobiles
@media (max-width: 768px) {
  .overlay { top: 65px;}
}